body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#upper {
    background-color: #881337;
    margin: 0;
    height: 40vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFF1F2;
  
}
#input-el {
    background-color: #881337;
    color:#FFF1F2;
    height: 2em;
    width: 2em;
    font-size:6rem;
    padding: 0;
    text-align: center;
    border: 3px solid #FFF1F2;
    border-radius: 5px;
}
#convert-btn {
    width: 12.5em;
    padding: 10px 0px 10px 0px;
    font-size: 1rem;
    border: 0 solid #FFF1F2;
    border-radius: 10px;
    background-color: #FFF1F2;
}
.upper-el {
}
#lower {
    background-color: #111827;
    margin:0;
    height: 60vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:#FDA4AF;
}
.lower-el {
background-color: #1F2937;
width:300px;
text-align: center;
}